$tm-primary: #512B51

$tm-btn-border: #fff
$tm-btn-bg: #FFB91E
$tm-btn-bg-image: none
$tm-btn-text: #000
$tm-btn-shadow: #E6DCEB

$tm-box-border: #DDE6FB
$tm-box-bg: #f8f8f8

$tm-input-text: #512B51
$tm-input-border: #DDDDDD
$tm-input-bg: linear-gradient(90deg, #D9E8FF 0%, #EAF1FC 100%)
$tm-radio-border: #512B51
$tm-radio-gr1: #491749
$tm-radio-gr2: #8a4a8a

$tm-hint-menu: #6D2E6D
$tm-hint: #3F284D

$tmc: ('primary': $tm-primary,'btn-border': $tm-btn-border,'btn-bg': $tm-btn-bg,'btn-bg-image': $tm-btn-bg-image,'btn-text': $tm-btn-text,'btn-shadow': $tm-btn-shadow,'box-border': $tm-box-border,'box-bg': $tm-box-bg,'input-text': $tm-input-text,'input-border': $tm-input-border,'input-bg': $tm-input-bg,'radio-border': $tm-radio-border,'radio-gr1': $tm-radio-gr1,'radio-gr2': $tm-radio-gr2)
