$tm-primary: #302323

$tm-btn-border: #fff
$tm-btn-bg: #FFB91E
$tm-btn-bg-image: none
$tm-btn-text: #222
$tm-btn-shadow: #E6DCEB

$tm-box-border: #C5C5C5
$tm-box-bg: #FFF9F2

$tm-input-text: #4B3B34
$tm-input-border: #D5BF95
$tm-input-bg: #FFEACB
$tm-radio-border: #804226
$tm-radio-gr1: #5E2E19
$tm-radio-gr2: #9C5F44

$tmc: ('primary': $tm-primary,'btn-border': $tm-btn-border,'btn-bg': $tm-btn-bg,'btn-bg-image': $tm-btn-bg-image,'btn-text': $tm-btn-text,'btn-shadow': $tm-btn-shadow,'box-border': $tm-box-border,'box-bg': $tm-box-bg,'input-text': $tm-input-text,'input-border': $tm-input-border,'input-bg': $tm-input-bg,'radio-border': $tm-radio-border,'radio-gr1': $tm-radio-gr1,'radio-gr2': $tm-radio-gr2)
